body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

select:disabled {
    opacity: 30%;
}
input:disabled {
    opacity: 30%;
}
button:disabled {
    opacity: 30%;
}
/* Nevigator bar */
header{
    box-sizing: border-box;
    background-color: #52616B;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 0 0 52px;
}
header h1 {
    color: #fff;
    font-size: 35px;
}
header button {
    background-color: #F0F5F9;
    position: absolute;
    right: 50px;
    top: 15px;
	width: 120px;
    height: 32px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
}
/* ------------------------------------------ */
/* NewModule */
.big-title {
    text-align: center;
    margin-top: 30px;
}

.upload-img-form-container {
    margin: 20px auto;
    width: 70%;
}

.model-name-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 10px auto;
    width: 70%;
}
#model-name {
    margin: 0 0 0 10px;
    border-radius: 10px;
}

#panel-name {
    margin: 0 0 0 0;
    border-radius: 10px;
}

.previous-grouop {
    display: block;
    margin: 10px auto;
    /* width: 70%; */
    height: 25px;
    border-radius: 10px;
    background-color: #52616B;
    color: #fff;
    box-sizing: border-box;
    padding: 0px 20px;
}
.delete-prev-pic-icon {
    margin-right: 30px;
}
#upload-img-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* width: 70%; */
    border: #52616B solid 2px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 0 5px 10px;
    margin: 0 auto 0 auto;
    
}
#upload-img-container p {
    /* display: inline; */
    width: 60vw;
    /* height: 2vw; */
    margin:0px;
    border: black 2px solid;
    /* overflow-wrap: break-word; */
    text-overflow: ellipsis;
    /* white-space: normal;
    overflow: hidden; */
}

#upload-img::file-selector-button {
    background-color: #52616B;
    color: #fff;
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.hint {
    text-align: center;
    font-size: 10px;
    color: red;
    margin: 5px;
}

.image-container {
    position: relative; 
    display: block;
    box-sizing: border-box;
    margin: 20px auto;
    width: 70vw;
    /* height: 70vh; */
    justify-content: center;
}

.tif-canvas {
    max-width: 100%;
    display: inline-block;
}
.spot {
    position: absolute;
    left: 10px;
    top: 50px;
    background-color: orange;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.spot:hover {
    background-color: red;
}

p {
    font-size: 20px;
    margin: 20px;
}
.button {
    float: right;
    display: block;
    background-color: #52616B;
    color: #fff;
    border-radius: 10px;
    margin: 20px 0 50px 0;
}

.normal-button {
    background-color: #52616B;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
}


.handle-table {
    width: 70vw;
    margin: 0px auto 50px auto;
}
.input-data {
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid #52616B;
    background-color: rgba(0, 0, 0, 0);
}
/* ------------------------------------------- */
/* AllModuleAndPredict */
.new-model-button {
    text-decoration: none;
    display: inline-block;
    margin: 20px auto;
    background-color: #52616B;
    color: #fff;
    border-radius: 10px;
}
.card-for-all-module-and-predict {
    width: 15vw;
    background-color: #c9d6df;
    display: inline-block;
    margin: 0px auto;
    /* margin: 0px auto; */
    border: 2px solid #c9d6df;
    border-radius: 10px;
}
.model-name {
    margin: 20px auto;
    position: relative;
    text-align: center;
}

.model-name:focus {
    border: none;
    resize: none;
    outline: none;
}

.card-table {
    display: table;
    text-align: center;
    margin: 0px auto;
}
.card-contents {
    display: inline-block;
}
.card-subtitles {
    display: inline;
    margin-left: auto;
}
.point-infos {
    margin-top: 0px;
}

/* general elements */
.center-button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
    text-align: center;
}
.upload-button {
    width: 20vw;
    height: 5vh;
    color: #fff;
    border-radius: 10px;
    background-color: #52616B;
}